:root {
  --btncolor1: #00522b;
  --btncolor2: #0caa65;
  --btncolor3: #12da839d;
  --btncolor4: #033d0d;
  --btncolor5: #c4ff63;
  --boxshadow: #ffffff80;
  --homebanerbggreen: #b2ff72;
  --ourredColor: #ff0000;
  --ourorangeColor: #ffbb54;
  --btnorange2ndcolor: #ec930c;
  --grayColor: #9ca3af;
}

.plans-opner-container {
  @apply flex items-center justify-center;
}
.plans-opner-box {
  @apply flex items-center justify-center border-2 border-[var(--btncolor1)] w-fit rounded-full overflow-hidden;
}
.plans-Card-month {
  @apply relative flex flex-col justify-center items-center gap-8 bg-[#fff] w-[320px] rounded-lg  h-auto border-2 border-gray-100 p-6 hover:shadow-xl hover:shadow-gray-300 transition-all duration-700 ease-in-out border-t-4 border-b-4 border-t-[var(--btncolor1)] border-b-[var(--btncolor1)] select-none;
}
.PlansCardBox {
  @apply pb-6;
}
.price-box h3 {
  @apply font-bold text-2xl w-full text-center pt-3;
}
.price-box p {
  @apply font-normal text-[14px] text-[var(--grayColor)] w-full text-center;
}

.plans-Details-Box {
  @apply pl-6 flex flex-col gap-3;
}
.lisbox-plans {
  @apply flex items-start gap-3;
}
.TickMark,
.CroseMark {
  @apply text-4xl text-[var(--btncolor1)];
}
.CroseMark {
  @apply text-[var(--ourorangeColor)];
}
.price-card-badge {
  @apply text-2xl px-4 absolute left-0 rounded-r-md rounded-l-sm w-[9rem] text-right text-white;
  background-image: linear-gradient(
    -45deg,
    var(--btncolor2) 64%,
    var(--btncolor5)
  );
}

.plans-opner-btn {
  @apply px-6 py-2 rounded-full text-black;
}
.active {
  @apply bg-[var(--btncolor1)] text-white;
}
